/* styles.css */
.row-even {
    background-color: #f2f2f2; /* Couleur pour les lignes paires */
  }
  
  .row-odd {
    background-color: #ffffff; /* Couleur pour les lignes impaires */
  }
  
  .no-border {
    // border: none;
    border-color: #f2f2f2;
    // background-color: #f2f2f2;
    
  }